
body {
    background: #8080ff;
    font-family: "Courier New";
}

.content {
    background: #c0c0ff;
    /* height: 800px; */
    border: solid 2px black;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
}

p {
    font-size: 16px;
}

input {
    border: solid 2px black;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    font-family: "Courier New";
}

textarea {
    border: solid 2px black;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
}

select {
    border: solid 2px black;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    font-family: "Courier New";
}

.error-message {
    display: inline-block;
    border: solid 2px black;
    border-radius: 4px;
    padding: 4px;
    background: #ff8888;
}

.neutral-message {
    display: inline-block;
    border: solid 2px black;
    border-radius: 4px;
    padding: 4px;
    background: gray;
}
