<center>
    <h1>DM setting</h1>
    <form method="post" action="/updateDMsetting/"> 
        <label>Choose one option and save</label><br>
        <select name = "setting">
            <option value="0">Allow messages from all user</option>
            <option value="1">Only allow messages from followers</option>
        </select><br><br>
        
        <input type="submit" value="Save">
    </form>
</center>