
<center>
    <h1>Edit Blog</h1>
    <form method="post" action="/postblogedit/{{blog._id}}">
        <label>Title</label><br>
        <input type="text" name="title" value="{{blog.title}}"><br><br>
        <label>Body</label><br>
        <textarea rows="8" name="body">{{blog.body}}</textarea><br><br>
        <input type="button" value="Preview">
        <input type="submit" value="Submit">
    </form>
</center>