
<html>
    <head>
        <title>Cup of Tea</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <center>
            <h1>Cup of Tea</h1>
            <p>This is a basic HTML file</p>
        </center>
        <div class="content">
            <p>hey</p>
        </div>
    </body>
</html>