<h1>Notifications</h1>
<ul>
    {{#each notif_list}}
    <li>
        <h1><a href="/viewsingle/{{blogid}}">{{title}}</a></h1>
        <p>by: <a href="/user/{{author}}">{{author}}</a></p>
    </li>
    {{/each}}
</ul>