
<center>
    <h1>Register</h1>
    <form method="post" action="/postregister/">
        <label>Username</label><br>
        <input type="text" name="username"><br><br>
        <label>Email</label><br>
        <input type="text" name="email"><br><br>
        <label>Password</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</center>