
<center>
    <h1>Register</h1>
    <form method="post" action="/postregister/">
        <label>Username</label><br>
        <input type="text" name="username" required><br><br>
        <label>Email</label><br>
        <input type="email" name="email" required><br><br>
        <label>Password</label><br>
        <input type="password" name="password" required><br><br>
        <label>College/University</label><br>
        <input type="text" name="school"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/login/">Login here.</a></p>
</center>
