
<center>
    <h1>Create Blog</h1>
    <form method="post" action="/postblog/">
        <label>Title</label><br>
        <input type="text" name="title"><br><br>
        <label>Body</label><br>
        <textarea rows="8" name="body"></textarea><br><br>
        <input type="button" value="Preview">
        <input type="submit" value="Submit">
    </form>
</center>