<center>
    <h1>Write a Comment<h1>
    <form method="post" action="/postcomment/{{blog._id}}/">
        <label>Comment</label><br>
        <textarea rows="4" name="body"></textarea><br><br>
        <input type="submit" value="Submit">
        <input type="checkbox" name=anon>Post anonymously</input>
    </form>
</center>
